* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono', Consolas, monospace;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #111;
  position: fixed;
  z-index: 999;
  min-width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 14px 16px;
}

.topnav a:hover {
  color: #dbd851;
  text-decoration: underline;
}

.content-holder {
  width: 100%;
  background-color: #333;
  padding-top: 60px;
  padding-bottom: 80px;
}

h3 {
  font-size: 12px;
  text-decoration-line: underline;
  color: #dbd851;
  margin-top: 10px;
}

.settings {
  width: 100%;
  margin-top: 10px;
  margin-left: 30%;
  width: 50%;
  margin-bottom: 30px;
  padding-bottom: 30px;
  min-height: 60px;
  border-radius: 3px;
  padding: 10px;
}

.use_tabs {
  margin: 7px;
  padding: 5px;
  color: #333;
  border-radius: 3px;
  background-color: #dbd851;
  font-size: 13px;
  width: 250px;
  float: left;
}

.max_symbols {
  margin: 7px;
  padding: 5px;
  color: #333;
  border-radius: 3px;
  background-color: #dbd851;
  font-size: 13px;
  width: 380px;
  float: left;
}

.content {
  font-family: 'JetBrains Mono', Consolas, monospace;
  color: #ccc;
  font-size: 14pt;
  background-color: #333;
  padding: 10px;
  min-width: 330px;
  width: 50%;
  border: 5px solid #99974a;
  display: flex;
  text-align: left;
  margin-left: 30%;
  margin-right: 20%;
  min-height: 500px;
  margin-top: 10px;
  padding-top: 20px;
  user-select: none;
  z-index: 1;
  position: relative;
  display: block;
  tab-size: 4;
}

.content-front {
  font-family: 'JetBrains Mono', Consolas, monospace;
  color: #ccc;
  font-size: 14pt;
  background-color: #333;
  padding: 10px;
  min-width: 330px;
  width: 50%;
  border: 5px solid #99974a;
  display: flex;
  text-align: left;
  margin-left: 30%;
  margin-right: 20%;
  min-height: 500px;
  margin-top: -500px;
  padding-top: 20px;
  user-select: none;
  z-index: 5;
  opacity: 0.8;
  position: relative;
  display: block;
  tab-size: 4;
}

.code_selector {
  background-color: #dbd851;
  margin-top: 20px;
  height: 50px;
  padding-right: 10px;
  border-radius: 3px;
  float: left;
}

input[type="file"] {
  background-color: #dbd851;
  border: none;
  color: #333;
  padding-left: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  font-weight: bold;
}

textarea {
  resize: none;
  border-radius: 3px;
}

::placeholder {
  color: #7c7c7c;
  opacity: 1;
}

.footer {
  background-color: #111;
  color: #dbd851;
  text-align: right;
  padding: 10px;
  padding-right: 30px;
}
